Package: com.peterdev.whatabouthis
Name: WhatAboutThis
Depends: mobilesubstrate, firmware (<= 12.1.4)
Version: 1.2.1
Architecture: iphoneos-arm
Description: Brings an iOS 12.2-style About page in the Settings app to older versions.
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Section: Tweaks
